server.port = 8081

database.config.url=jdbc:postgresql://localhost:5432/emailms
database.config.username=postgres
database.config.password=pass123
spring.jpa.hibernate.ddl-auto=create

spring.mail.host=smtp.gmail.com
spring.mail.username=*********************@gmail.com
spring.mail.password=*********************
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true

rabbitmq.uri= amqps://gkkudhat:*******************@cattle.rmq2.cloudamqp.com/gkkudhat
spring.rabbitmq.queue=email-ms